<div class="main">
	<div class="container menu">
		<h4>Today's Menu</h4>
		<!-- todo 繰り返しにする -->
		<div class="content">
			<h6>Morning</h6>
			<div class="menu">
			</div>
		</div>
	</div>
	<div class="container exec">
		<div class="content search">
			<h4>Search Training</h4>
			<input type="text" name="search-word">
		</div>
		<div class="content category">
			<h4>Category</h4>
			<div class="category-list">
				<!-- todo 繰り返しにする -->
				<input type="button" value="training">
				<input type="button" value="">
				<input type="button" value="">
				<input type="button" value="">
				<input type="button" value="">
				<input type="button" value="">
				<input type="button" value="">
				<input type="button" value="">
				<input type="button" value="">
			</div>
		</div>
		<div class="content random">
			<h4>Random</h4>
			<div class="random-list">
				<!-- todo 繰り返しにする -->
				<input type="button" value="T">
				<input type="button" value="">
				<input type="button" value="">
				<input type="button" value="">
			</div>
		</div>
	</div>
</div>