<div class="main">
	<div class="container menu">
		<h4>Maintenance Menu</h4>
    <%= link_to :authorities, authorities_path %>
    <%= link_to :bodyparts, bodyparts_path %>
    <%= link_to :trainingcategories, trainingcategories_path %>
    <%= link_to :users, users_path %>
	</div>
</div>