<div class="main">
  <div class="form">
    <div class="title">
      Authority Details
    </div>
    <%= form_with model: @authority do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, disabled: true %>
    <% end %>
  </div>
  <%= link_to :authorities, authorities_path %>
</div>